*{
    margin: 0;
    padding: 0;
}
header nav{
    background: #132B68 !important;
}
header nav,
header nav a{
    color: #f6f6f6;
}

#app{

}
#content{

}

h1,
h2,
h3,
h4,
p,
span,
a,
b,
strong {
    color: #000000;
}
a{
    cursor: pointer;
}
a.line-active{
    text-decoration:line-through;
}
#advertising {
    background-color: #B9C7EC;
    color: #fff;
}
.advertising-h {
    height: 6em;
}
.advertising-v {
    height: 40em;
}
.btn {
    background-color: #E01E1E;
    color: #f6f6f6 !important;
    font-weight: 700;
    letter-spacing: 1px;
    border-color: #E01E1E;
}
.btn:hover {
    background-color: #E01E1E;
    border-color: #E01E1E;
}
header nav a.navbar-brand {
    height: 2em;
    display: flex;
    justify-content: center;
}
header nav a.navbar-brand strong {
    color: #f6f6f6 !important;
    position: relative;
    left: 5%;
}
header nav a.navbar-brand:hover {
    color: #f6f6f6!important;
}
.logo {
    background-color: #E01E1E;
    width: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16% 0%;
}

.card {
    border: none;
    background-color: #F8F8F8;
    box-shadow: -8px 8px 11px -4px rgba(0, 0, 0, 0.08);
}
.btn-menu{
    position: relative;
    /* left: -30%; */
    background-color: #344D8E!important;
    border-color: #344D8E!important;
}
.btn-menu::hover{
    background-color: #324e96!important;
    border-color: #324e96!important;
}
.menu{
    display: none;
    position: absolute;
    width: 25%;
    right: 9em;
}
.card-bg{
    background-color: #132B68;
}
.w-24{
    width: 24%;
}
.ml-1{
    margin-left: 1%;
}
.mr-1{
    margin-right: 1%;
}
.wrapp{
    display: block;
}
.wrapp svg{
    position: absolute;
    right: 2.3%;
    top: 33%;
}